# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

*.DS_Store
github_token.txt

# To generate Gemfile.lock -> use: $ bundle install
# If unknown encoding name CP720 Error occured -> use: $ chcp.com 1252
Gemfile.lock

# Photoshop Documents
*.psd

# Log Files
*.log
